In [2]:
#Using the set() constructor:
empty_set = set()
print(empty_set)

#Using empty curly braces {}:
sets = {}
print(sets)

set()
{}

In [3]:
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

#Using the update() method:
my_set = {1, 2, 3}
my_set.update([4, 5, 6])
print(my_set)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}

In [4]:
#Remove() method
a = {1, 2, 3, 4, 5}
a.remove(3)
print(a)

#Discard method
b = {1, 2, 3, 4, 5}
b.discard(3)
print(b)

#Pop() method
c = {1, 2, 3, 4, 5}
element = c.pop()
print("Removed element:", element)
print(c)

#clear method
d = {1, 2, 3, 4, 5}
d.clear()
print(d)

{1, 2, 4, 5}
{1, 2, 4, 5}
Removed element: 1
{2, 3, 4, 5}
set()

In [5]:
my_set = {1, 2, 3, 4, 5}
length = len(my_set)
print("Length of the set:", length)

Length of the set: 5

In [6]:
z = {1, 2, 3, 4, 5}
if 3 in z:
    print("Element 3 exists in the set.")
else:
    print("Element 3 does not exist in the set.")

Element 3 exists in the set.

In [7]:
v = {1, 2, 3, 4, 5}
c = {3, 2, 1, 5, 4}

if v == c:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

In [8]:
original_set = {1, 2, 3, 4, 5}
copied_set = set(original_set)
print("Original set:", original_set)
print("Copied set:", copied_set)

Original set: {1, 2, 3, 4, 5}
Copied set: {1, 2, 3, 4, 5}